@font-face {
    font-family: OffBit;
    src: url(../fonts/OffBitTrial-Regular.otf) format("opentype");
  }

@font-face {
    font-family: Wiggle;
    src: url(../fonts/Wriggle-Regular.otf) format("opentype");
}

@media screen and (min-width: 825px) {
    h1 {
        font-size: 150px;
    }

    h1 > span {
        display: inline-block !important;
    }

    .design {
        margin-right: 12px;
    }
    
    .dev {
        margin-left: 25px;
    }
}

@media screen and (min-width: 391px) and (max-width: 825px) {
    h1 {
        font-size: 80px;
    }
}
  
@media screen and (max-width: 390px) {
    h1 {
        font-size: 65px;
        padding: 120px 0 40px 0 !important;
    }
    a {
        width: 80%;
        padding: 15px !important;
        font-size: 4vw;
    }
}

body {
    isolation: unset !important;
    background: #1a3c29;
    color: #ffeed3; 
    /*color: #fff6d3; */ /*soft yellow for blend mode */
    /*color: #dbbdaa */ /* soft pink for without blend mode */
    font-family: monospace;
    text-align: center;
}
.noise {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../assets/noise.svg);
    mix-blend-mode: difference;
    opacity: 50%;
    z-index: -1;
}
h1, h2 {
    width: 100%;
    text-align: center;
    margin: 0;
    mix-blend-mode: difference;
}
h1 {
    padding: 200px 0 40px 0;
}
h2 {
    font-size: 28px;
    margin-bottom: 30px;
}
h1 > span {
    display: block;
}
.design {
    font-family: Wiggle;
}

.dev {
    font-family: OffBit;
}

a {
    display: inline-block;
    border: 2px solid #dbbdaa;
    border-radius: 5px;
    padding: 10px 20px;
    color: #dbbdaa;
    font-family: monospace;
    text-decoration: none;
    text-transform: uppercase;
}